@import "bootstrap.less";
@import "responsive.less";

@import "sidenav-icons.less";

.topbar {
  background:#393939;
}

.primary-nav {
  background:#f9f9f9;
}
.primary-nav li {
  padding:15px;
  background:#f9f9f9;
  font-size:14px;
  -webkit-box-shadow: -1px -1px 2px 0 rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: -1px -1px 2px 0 rgba(0, 0, 0, 0.15) inset;
  -ms-box-shadow: -1px -1px 2px 0 rgba(0, 0, 0, 0.15) inset;
  -o-box-shadow: -1px -1px 2px 0 rgba(0, 0, 0, 0.15) inset;
  box-shadow: -1px -1px 2px 0 rgba(0, 0, 0, 0.15) inset;
}

.primary-nav li:hover {
  background-color:#84d4fa;
}
.primary-nav li a {
  color:#3c3c3c;
}
.primary-nav li:hover > a {
  color:#fff;
}


#theme-box {

  .item {
    position: relative;

    img {
      min-width:100%;
    }

    .overlay {
      position: absolute;
      top:0;
      left:0;
      height:100%;
      width:100%;
      display:none;
      background:rgba(66, 66, 66, 0.75);
      text-align: center;

      span {
        display:block;
        color:#fff;
        font-size:18px;
        margin:50px 0 15px 0;
      }
    }

    &:hover .overlay {
      display:block;
    }
  }
}
.inset-shadow {
  -webkit-box-shadow: -1px -1px 2px 0 rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: -1px -1px 2px 0 rgba(0, 0, 0, 0.15) inset;
  -ms-box-shadow: -1px -1px 2px 0 rgba(0, 0, 0, 0.15) inset;
  -o-box-shadow: -1px -1px 2px 0 rgba(0, 0, 0, 0.15) inset;
  box-shadow: -1px -1px 2px 0 rgba(0, 0, 0, 0.15) inset;
}
.blue-bg {
  background-color:#84d4fa;
}
.dark-blue-bg {
  background-color: #008ed1;
}

#default-theme {
  padding:15px;
  margin-bottom:20px;
}

#default-theme img {
  float:left;
  margin-right:15px;
  width:175px;
}
#default-theme .details {
  float:left;
}
#default-theme .details h4 {
  color:#FFF;
  font-size:18px;
  margin:0 0 50px;
}
#default-theme .details span {
  font-weight:bold;
  margin-bottom:10px;
  display:block;
}
#default-theme .details p {
  font-style:italic;
  font-size:14px;
}

#quick-links {

  div {
    .border-radius(5px);
    .inset-shadow();

    * {
      text-align: center;
      color:#FFF;
      text-decoration: none;
    }
  }

  span {
    display:block;
    padding:15px 30px;
  }

  i:before {
    margin:auto;
    font-size:42px;
    display:block;
    position: relative;
    text-align: center;
  }
}

.container-fluid.nopad {
	padding: 0;
}
.journal-entries-list {
	
	li.post {
		margin-bottom: 20px;
		
		h6 {
			color: #000;
			font-size: 14px;
			margin-top: 0;
			margin-bottom: 0.5em;
		}
		
		.image-shadow {
			float: left;
			max-width: 100%;
			position: relative;
			border: 1px solid #fff;
		}
		.image-shadow:before {
			bottom: 0;
			box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75) inset,
						1px 1px 1px rgba(255, 255, 255, 0.5) inset;
		    content: "";
		    left: 0;
		    position: absolute;
		    right: 0;
		    top: 0;
		}
		.btn {
			font-style: italic;
		}
		.btn:first-of-type {
			margin-right: 10px;
		}
	}
}

.form_inputs fieldset {
	width: auto;
}
section.item {
	background: #efefef;
}
.expand {
	background: #f9f9f9;
	.border-radius(0 0 5px 5px);
	text-align: center;
	box-shadow: -1px -1px 2px 0 rgba(0, 0, 0, 0.15) inset,
				0 2px 0px #fff inset;
	padding: 10px 0;
	
	a.btn {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.journal-overview-intro {
	margin-bottom: 15px;
	
	
	.icon-pen {
		color: darken(@linkColor,20%);
		font-size: 16px;
		padding-left: 40px;
		min-height: 30px;
	}
	.icon-pen:before {
		font-size: 30px;
		top: -5px;
	}
}
.journal-entries-list {
	
	li.post {
		margin-bottom: 30px;
	}
}

#blog-content-tab {
	
	ul {
		li.title input {
			width: 97.5% !important;	
		}
		li.title,
		li.status {
			padding: 0;
			margin-bottom: 5px;
		}
		li.editor {
			.edit-content {
				margin-top: 0;
			}
		}
	}
}

.streams_form {

  .well {
    .border-radius(0);
    margin:0;
  }

  .footer {
    background:@grayLighter;
    text-align: center;
    margin-bottom:20px;
    padding:20px;
    border: 1px solid darken(@wellBackground, 7%);
    border-top:none;
    .border-radius(0 0 5px 5px);
  }
}

.custom-stream-form {
  textarea,
  input[type="text"],
  select {
    width: 100%;
    .box-sizing(border-box);
  }

  input[type="text"] {
    height:30px;
  }

  .input-prepend {
    display: block;

    input {
      border-radius: @baseBorderRadius;
      text-indent:28px;
    }
    .add-on {
      border:none;
      background:none;
      padding:2px 0;
      position: absolute;
      z-index: 3;

      .social-icon {
        padding-left:24px;
      }
    }
  }

  .span6 {
    .facebook i:before {
      content:"\E031";
    }
    .twitter i:before {
      content:"\E032";
    }
    .flickr i:before {
      content:"\E036";
    }
    .pinterest i:before {
      content:"\E001";
    }
    .google_plus i:before {
      content:"\E003";
    }
    .instagram i:before {
      content:"\E033";
    }
  }
}

#folders-sidebar {
  margin-left:0;
}
.context-menu-source {
  list-style:none;
}

#login-body {
  .container {
    margin-top:200px;
    width:340px;

    #login-logo {
      background:url(../img/as-logo-reversed.png);
      width:268px;
      height:80px;
      margin:auto;
      margin-bottom:20px;
    }

    form {
      background:#f3f3f3;
      width:260px;
      padding:25px 30px;
      border:10px solid #eaeaea;
      .border-radius(15px);

      .input-large {
        padding:8px 6px;
        width:246px;
      }

      .checkbox.inline {
        margin:5px 70px 15px;
      }
    }
  }
}
