<ul class="social">
	{{ if contactus:twitter }}
	<li>
		<a href="{{ contactus:twitter }}" class="twitter"></a>
	</li>
	{{ endif }}
	{{ if contactus:flickr }}
	<li>
		<a href="{{ contactus:flickr }}" class="flickr"></a>
	</li>
	{{ endif }}
	{{ if contactus:facebook }}
	<li>
		<a href="{{ contactus:facebook }}" class="facebook"></a>
	</li>
	{{ endif }}
	{{ if contactus:pinterest }}
	<li>
		<a href="{{ contactus:pinterest }}" class="pinterest"></a>
	</li>
	{{ endif }}
	{{ if contactus:google_plus }}
	<li>
		<a href="{{ contactus:google_plus }}" class="googleplus"></a>
	</li>
	{{ endif }}
</ul>